<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="/assets/css/custom.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="geo.js"></script>
    <title>Hra</title>
</head>
<style>
    nav{
        margin-bottom: 10px;
    }
    form h2{
        padding-bottom: 5px;
    }
    #map {
        height: 95vh;
        width: 99.1vw;
      }
      /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

</style>
<body>
<div class="page-wrapper">
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1" ><a href="/"></a></span>
        <a class="float-right" href="/" title="Return home">Home</a>
        <a class="float-right" href="/login" title="Login">Login</a>
        <a class="float-right" href="/register" title="Register">Registration</a>
        <a class="float-right" href="/profile" title="Profile">Profile</a>
        <a class="float-right" href="/map" title="Profile">Map</a>
    </nav>
