<% include partials/header.ejs %>
<section class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-2">
     <form action="" method="post">
        <h2>Login</h2>
        <label for="email">Email Adress</label><br>
        <input class="form-control" type="email" id="email" name="email"><br>
        <label for="password">Password</label><br/>
        <input class="form-control" type="password" id="password" name="password"><br>
       <input class="form-control btn btn-outline-primary" type="submit">
      </form>
    </div>
  </div>
</section>